@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Varela+Round&display=swap");
@import "tailwindcss";

@theme {
  --font-display: "Varela Round", "sans-serif";
  --color-blurple: #969eff;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.filter-transition {
  transition: filter 0.3s ease-in-out;
}

.animate-fade-in {
  animation: fadeIn 0.3s ease-in-out forwards;
}
